.card {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .14);
    height: 200px;
    padding: 16px 16px 16px 150px;
    position: relative;
    width: 100%;

    img {
        height: 100%;
        left: 0;
        max-height: 100%;
        max-width: 136px;
        position: absolute;
        top: 0;
    }

    .card-title {
        position: relative;
        padding-bottom: 16px;

        h3 {
            color: #687B82;
            font-size: 14px;
            padding-right: 40px;
        }

        h4 {
            color: #687B82;
            font-size: 14px;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .card-subtitle {
        padding-bottom: 20px;

        h6 {
            color: #3C484C;
            font-size: 11px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            .divider {
                margin: 0 10px;
            }
        }
    }

    .card-content {
        color: #687B82;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 30px;

        p {
            display: -webkit-box;
            height: 48px;
            overflow: hidden;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical; 
        }
    }

    .card-footer {
        .clear-btn { 
            float: right; 

            &.active {
                color: #00BDFF;
            }
        }
    }
}





@media only screen and (max-width: 480px) {
    .card {
        // padding-left: 16px;

        // img {
        //     height: auto;
        //     max-width: 100px;
        // }

        // .card-title, .card-subtitle, .card-content { padding-left: 100px; }

        .card-title {
            h3 {
                height: 42px;
            }
        }
            
        .card-subtitle h6 { 
            height: 64px; 
            white-space: normal;

            .divider {
                display: block;
                overflow: hidden;
                height: 0px;
                margin: 0 0 10px 0;
            }
        }

        .card-content { display: none; }

        .btn-text { display: none; }
    }
}