<div class="card">
  <img src="http://image.tmdb.org/t/p/w185{{data.poster_path}}">
  <div class="card-title">
    <h3>{{ data.title || data.name }}</h3>
    <h4>{{ data.vote_average }}</h4>
  </div>
  <div class="card-subtitle">
    <h6 *ngIf="data.release_date">{{ dateObject(data.release_date) | date:'mediumDate' }}<span class="divider">|</span>{{ genreNames(data.genre_ids) }}</h6>
    <h6 *ngIf="data.first_air_date">{{ dateObject(data.first_air_date) | date:'mediumDate' }}<span class="divider">|</span>{{ genreNames(data.genre_ids) }}</h6>
  </div>
  <div class="card-content">
    <p>{{ data.overview }}</p>
  </div>
  <div class="card-footer">
    <button class="outline-btn" (click)="findTrailer()">View Trailer</button>
    <button [hidden]="inFavs()" class="clear-btn" (click)="addToFavs()"><span class="btn-text">Add to Favorites </span><i class="fas fa-heart"></i></button>
    <button [hidden]="!inFavs()" class="clear-btn active" (click)="removeFromFavs()"><span class="btn-text">In Favorites </span><i class="fas fa-heart"></i></button>
  </div>
</div>