header {
    background: white;
    border-bottom: 1px solid #F4F7F7;
    height: 64px;
    left: 0;
    padding: 18px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;

    .logo {
        float: left;

        a {
            background: url(assets/img/logo.png) no-repeat left center;
            background-size: auto 26px;
            color: #00BDFF;
            font-size: 26px;
            font-weight: 600;
            padding-left: 40px;
        }
    }

    .menu-btn {
        display: none;
        float: right;
        font-size: 24px;
        margin-top: -5px;
    }

    .tabs {
        float: right;
        margin-top: 2px;

        .close-btn { display: none; }

        ul {
            li {
                display: inline-block;
                font-size: 16px;
                margin-left: 30px;

                a {
                    color: #9FB0B7;

                    &:hover { color: #00BDFF; }

                    &.active {
                        border-bottom: 2px solid #00BDFF;
                        color: #00BDFF;
                    }
                }
            }
        }
    }
}



@media only screen and (max-width: 640px) {
    header {
        .menu-btn { display: inline; }

        .tabs {
            background: rgba(0, 0, 0, 0.8);
            height: 100%;
            margin: 0;
            padding-top: 14px;
            opacity: 0;
            position: fixed;
            right: 0;
            text-align: right;
            top: 0;
            visibility: hidden;
            z-index: 10;

            .close-btn {
                color: white;
                display: inline;
                font-size: 24px;
                margin: 0 30px 20px 0;
            }

            ul {
                li {
                    display: block;
                    font-size: 20px;
                    margin: 0;
                    padding: 20px 30px 20px 100px;

                    a { color: white; }
                }
            }
        }
    }
}