<header>
  <div class="container">
    <h1 class="logo"><a href="/">Showapp</a></h1>
    <button class="clear-btn menu-btn"><i class="fas fa-bars"></i></button>
    <nav class="tabs">
      <button class="clear-btn close-btn"><i class="fas fa-times"></i></button>
      <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Movies</a></li>
        <li><a routerLink="/series" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Series</a></li>
        <li><a routerLink="/favorites" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Favorites</a></li>
      </ul>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>
