html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font: inherit;
    font-family: 'Open Sans', sans-serif;
    vertical-align: baseline;
    text-decoration: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





body { padding-top: 64px; }

.container {
    margin: 0 auto;
    position: relative;
    width: 90%;
}

.clear {
    clear: both;
}

.normal-btn {
    background: #F4F7F7;
    border: 0;
    color: #687B82;
    cursor: pointer;
    font-size: 12px;
    padding: 5px 10px;

    &:hover {
        color: #00BDFF;
    }
}

.outline-btn {
    background: transparent;
    border: 1px solid #00BDFF;
    border-radius: 3px;
    color: #00BDFF;
    cursor: pointer;
    font-size: 12px;
    padding: 5px 10px;

    &:hover {
        background: #00BDFF;
        color: white;
    }
}

.clear-btn {
    background: transparent;
    border: 0;
    color: #87969C;
    cursor: pointer;
    font-size: 12px;
    padding: 5px 0;

    &:hover {
        color: #00BDFF;
    }
}




@media only screen and (min-width: 1152px) {
    .container { width: 1024px; }
}