<section class="search-bar">
    <div class="container">
      <span class="icon">
        <i class="fas fa-search"></i>
      </span>
      <input type="search" name="searchtext" placeholder="Search for a movie, series and videos" [(ngModel)]="searchText" (ngModelChange)="onSearchChange()">
    </div>
  </section>
  <section class="filters">
    <div class="container">
      <h2>Discover new movies and television shows</h2>
      <div class="filter-row">
        <div class="filter-block">
          <label>Year</label>
          <br>
          <select name="year" id="year-filter" [(ngModel)]="yearFilter" (ngModelChange)="onYearChange()">
            <option value="">Any</option>
            <option value="{{ year }}" *ngFor="let year of years">{{ year }}</option>
          </select>
        </div>
        <!-- <div class="filter-block">
          <label>Genre</label>
          <br>
          <select name="genre" id="genre-filter" [(ngModel)]="genreFilter" (ngModelChange)="onGenreChange()">
            <option value="0">Any</option>
            <option value="{{ genre.id }}" *ngFor="let genre of genres">{{ genre.name }}</option>
          </select>
        </div> -->
      </div>
    </div>
  </section>
  <section class="list">
    <div class="container">
      <div [hidden]="!emptyList()" class="no-results">
        <p>Sorry, no series were found related to these criterias :(</p>
      </div>
      <div [hidden]="emptyList()" class="cards">
        <app-card *ngFor="let item of list" [data]="item" (trailerEvent)="showTrailer($event)" [hidden]="!inFavs(item)"></app-card>
  
        <div class="clear"></div>
      </div>
    </div>
  </section>
  <section class="pagination">
    <div [hidden]="emptyList()" class="container">
      <button class="clear-btn next" (click)="goPage(1)"><i class="fas fa-angle-double-left"></i></button>
      <button class="clear-btn prev" (click)="goPage(pagination.page - 1)"><i class="fas fa-chevron-left"></i></button>
      <button *ngFor="let page of pagination.list" class="clear-btn number" [ngClass]="{'active':pagination.page == page}" (click)="goPage(page)">{{ page }}</button>
      <button class="clear-btn next" (click)="goPage(pagination.page + 1)"><i class="fas fa-chevron-right"></i></button>
      <button class="clear-btn next" (click)="goPage(pagination.total_pages)"><i class="fas fa-angle-double-right"></i></button>
    </div>
  </section>
  
  <div class="modal-container" [ngClass]="{'active':modal.active}">
    <div class="layer-bg"></div>
    <div class="modal">
      <button class="clear-btn close-btn" (click)="hideTrailer()"><i class="fas fa-times"></i></button>
      <div class="video-block">
        <p [hidden]="modal.trailer_url" class="no-video">Sorry, no video were found :(</p>
        <div class="embed-container">
          <iframe *ngIf="modal.trailer_url" width="640" height="360" frameborder="0" allowfullscreen [src]="modal.trailer_url"></iframe> 
        </div>
      </div>
    </div>
  </div>