.search-bar {
    background: #F4F7F7;
    color: #687B82;
    height: 37px;
    padding: 10px 0;
    position: relative;

    .icon {
        left: 0;
        position: absolute;
        top: 0;
    }

    input[type="search"] {
        background: transparent;
        border: 0;
        font-style: italic;
        font-size: 14px;
        font-weight: 300;
        padding-left: 40px;
        user-select: none;
        width: 100%;
    }
}

.filters {
    h2 {
        color: #687B82;
        font-size: 16px;
        font-weight: 600;
        margin: 60px 0 30px 0;
    }

    .filter-block {
        display: inline-block;
        margin-right: 56px;

        label {
            color: #687B82;
            font-size: 12px;
            font-weight: 600;
        }

        select {
            margin-top: 10px;
        }
    }
}

.list {
    margin: 30px 0;

    .no-results {
        color: #9FB0B7;
        font-size: 18px;
        margin-top: 40px;
        text-align: center;
    }

    .cards {
        margin: 0 -15px;

        app-card {
            box-sizing: border-box;
            float: left;
            margin-bottom: 30px;
            padding: 0 15px;
            width: 50%;
        }
    }
}

.pagination {
    padding-bottom: 60px;
    text-align: center;

    .clear-btn {
        padding-left: 6px;
        padding-right: 6px;

        &.active { 
            border-bottom: 2px solid #00BDFF;
            color: #00BDFF; 
            font-weight: 600;
        }
    }
}

.modal-container {
    color: white;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    text-align: center;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 999;

    .layer-bg {
        background-color: rgba(0, 0, 0, 0.8);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .modal {
        margin: 120px auto 0 auto;
        max-width: 640px;
        position: relative;
        width: 90%;
        z-index: 2;

        .close-btn {
            color: white;
            font-size: 20px;
            position: absolute;
            right: 0;
            top: -40px;
        }

        .embed-container {
            height: 0;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            padding-bottom: 56.25%;
    
            iframe {
                height: 100%;
                left: 0;
                position: absolute;
                top:0;
                width: 100%;
            }
        }
    }

    &.active {
        opacity: 1;
        visibility: visible;
    }
}



@media only screen and (max-width: 860px) {
    .list {
        .cards {
            // margin: 0;

            app-card {
                // float: none;
                width: 100%;
            }
        }
    }
}